/* Variables */
:root {
  /* Colors */
  --color-primary: #ff5722;
  --color-primary-light: #f87148;
  --color-secondary: #0065dc;
  --color-secondary-light: #1c78e2;
  --color-text-default: #000;
  --color-text-navigation-items: #545454;
  --color-text-description: #333;
  --color-text-link: #0065dc;
  --color-text-post-title: #9b9b9b;
  --color-text-copyright: #acacac;
  --color-bg-footer: #000;
  /* Height */
  --height-main-header: 6rem;
  --height-hero-block-image: 380px;
  /* z-index */
  --z-index-header: 999;
}

/* Basic Styles */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Typography */
@font-face {
  font-family: "iran-yekan-regular";
  src: url("/assets/font/IRANYekanWebRegular.eot");
  src: url("/assets/font/IRANYekanWebRegular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/IRANYekanWebRegular.woff2") format("woff2"),
    url("/assets/font/IRANYekanWebRegular.woff") format("woff"),
    url("/assets/font/IRANYekanWebRegular.ttf") format("truetype"),
    url("/assets/font/IRANYekanWebRegular.svg#IRANYekanWeb") format("svg");
}
/* 
Font Usage
font-family: "iran-yekan-regular", Arial, Helvetica, sans-serif;
*/

html {
  /* 62.5% of 16px => 10px */
  font-size: 62.5%;
}

body {
  background-color: #fff;
}

/* Headings */
h1,
h2,
h3 {
  margin: 0;
  font-family: "iran-yekan-regular", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: bolder;
}

h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.8rem;
}

p,
a,
button {
  font-size: 1.6rem;
  font-family: "iran-yekan-regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
  color: var(--color-text-default);
}

.link {
  color: var(--color-text-link);
}

/* Lists */
ul {
  list-style-type: none;
}

/* Flexbox */
.flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.flex--col {
  flex-direction: column;
}

.flex--jcc {
  justify-content: center;
}

.flex--jc-se {
  justify-content: space-evenly;
}

.flex--aic {
  align-items: center;
}

/* Container */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Grid */
.grid {
  display: grid;
}

.grid--ji-center {
  justify-items: center;
}

.grid--1x2,
.grid--1x3,
.grid--1x4,
.grid--1x5 {
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .grid--1x2,
  .grid--1x4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3,
  .grid--1x5 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid--1x5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 1.25rem 3rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: "iran-yekan-regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  border: 0;
  outline: 0;
  border-radius: 0.8rem;
  cursor: pointer;
}

.btn--primary {
  color: #fff;
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: var(--color-primary-light);
}

.btn--secondary {
  color: #fff;
  background-color: var(--color-secondary);
}

.btn--secondary:hover {
  background-color: var(--color-secondary-light);
}

.btn--big {
  padding: 1.25rem 2rem;
  font-size: 2rem;
}

/* Header */
.main-header {
  width: 100%;
  height: var(--height-main-header);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 6%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: var(--z-index-header);
}

@media screen and (min-width: 768px) {
  .main-header {
    padding: 0.25rem 8%;
  }
}

.main-logo {
  width: 25vw;
  display: inline-block;
}

.main-logo__logo {
  width: 100%;
  height: fit-content;
}

.main-logo__logo:hover #logo-name {
  fill: var(--color-primary);
}

.main-logo__logo:hover #logo-bar1,
.main-logo__logo:hover #logo-bar2 {
  fill: #000;
}

@media screen and (max-width: 300px) {
  .main-logo {
    width: 30vw;
  }
}

@media screen and (min-width: 425px) {
  .main-logo {
    width: 10rem;
  }
}

.main-header .btn--primary {
  display: none;
  margin-right: 1rem;
}

.main-header .btn--primary:hover {
  transform: scale(0.98);
}

@media screen and (min-width: 1024px) {
  .main-header .btn--primary {
    display: inline-block;
  }
}

/* Navigation Toggler */
.nav-toggler {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.nav-toggler .hb-bar {
  width: 100%;
  height: 3px;
  display: block;
  background-color: #000;
}

.nav-toggler.expanded .hb-bar {
  width: 60%;
}

.nav-toggler.expanded :nth-child(2) {
  display: none;
}

.nav-toggler.expanded :nth-child(1),
.nav-toggler.expanded :nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
}

.nav-toggler.expanded :nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.nav-toggler.expanded :nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .nav-toggler {
    display: none;
  }
}

/* Navigation */
.main-nav {
  width: 100%;
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  max-height: 0;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
  transition: max-height 0.4s, opacity 0.3s;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main-nav {
    width: fit-content;
    position: static;
    max-height: initial;
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
    transition: none;
  }
}

.main-nav.expanded {
  opacity: 1;
  max-height: 100vh;
}

.main-nav__list {
  display: block;
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .main-nav__list {
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.main-nav__item {
  width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .main-nav__item {
    width: fit-content;
  }
}

.main-nav__item a {
  width: 100%;
  display: block;
  padding: 1.25rem 1rem;
  color: #777;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-nav__item a:hover {
  cursor: pointer;
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: block;
    margin-right: auto;
  }
}

/* Hero Block */
.hero-block {
  width: 100%;
  position: relative;
  padding: calc(3rem + var(--height-main-header)) 0 3rem 0;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .hero-block {
    padding: 0;
  }
}

.hero-block__banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1024px) {
  .hero-block__banner {
    height: 380px;
  }
}

.hero-block__phone {
  display: none;
  width: 30%;
  position: absolute;
  top: var(--height-hero-block-image);
  left: 8%;
  transform: translateY(-50%);
}

@media screen and (min-width: 1024px) {
  .hero-block__phone {
    display: block;
  }
}

@media screen and (min-width: 1500px) {
  .hero-block__phone {
    width: 380px;
  }
}

.hero-block__intro {
  width: calc(100% - 3rem);
  margin: 0 auto;
  padding: 3rem 2rem;
  background: linear-gradient(
    to bottom right,
    rgba(0, 11, 41, 0.7),
    rgba(0, 11, 41, 0.5)
  );
  border-radius: 2.6rem;
}

@media screen and (min-width: 425px) {
  .hero-block__intro {
    width: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  .hero-block__intro {
    margin: 0;
    position: relative;
    right: 5%;
    padding: 3rem;
    padding-top: calc(3rem + var(--height-main-header));
  }
}

.hero-block__intro .grid {
  margin-top: 3rem;
  gap: 2rem;
}

.hero-block__title,
.hero-block__subtitle {
  color: #fff;
}

.hero-block__title {
  font-size: 3rem;
}

.hero-block__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .hero-block__title {
    font-size: 3.8rem;
  }

  .hero-block__subtitle {
    font-size: 2.4rem;
  }
}

.intro-btn {
  padding: 1rem 2rem;
  color: #000;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  background: #fff;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .intro-btn {
    font-size: 1.4rem;
  }
}

.intro-btn span {
  flex-grow: 1;
  text-align: center;
}

.intro-btn--outline {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
}

.intro-btn .icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #000;
  margin-left: 1rem;
}

.intro-btn--outline .icon {
  color: #fff;
}
