<section class="block corporate-block">
    <div class="grid grid--1x2">
        <div class="corporate-block__content">
            <h2 class="block__heading">خدمات تپسی ویژه کسب‌وکارها</h2>
            <p class="block__description">
                پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست هم‌زمان تعداد نامحدودی خودرو و پیک
                را برای کسب‌وکارها و سازمان‌ها فراهم می‌کند. و با استفاده از آن می‌توانید ماموریت های درون‌شهری و
                ارسال کالاهای خود را به سادگی مدیریت کنید.
            </p>
            <a class="arrow-link" href="#">
                اطلاعات بیشتر سرویس سازمانی
                <svg class="icon">
                    <use href="/assets/icon/icon-sprite.svg#arrow_left"></use>
                </svg>
            </a>
            <a href="#" class="btn btn--primary btn--big">ورود و ثبت نام پنل سازمانی</a>
        </div>
        <div class="corporate-block__image-box grid--order-1n">
            <picture>
                <source type="image/webp"
                    srcset="/assets/image/i-mac_590w.webp 590w, /assets/image/i-mac_1180w.webp 1180w">
                <source type="image/png"
                    srcset="/assets/image/i-mac_590w.png 590w, /assets/image/i-mac_1180w.png 1180w">
                <img class="corporate-block__image move-x-14n" src="/assets/image/i-mac_1180w.png" alt="corporate">
            </picture>
        </div>
    </div>
    <div class="grid grid--1x2">
        <div class="corporate-block__image-box">
            <picture>
                <source type="image/webp"
                    srcset="/assets/image/macbook_501w.webp 501w, /assets/image/macbook_1002w.webp 1002w">
                <source type="image/png"
                    srcset="/assets/image/macbook_501w.png 501w, /assets/image/macbook_1002w.png 1002w">
                <img class="corporate-block__image pl-14" src="/assets/image/macbook_1002w.png" alt="voucher-sales">
            </picture>
        </div>
        <div class="corporate-block__content">
            <h2 class="block__heading">خرید کد اعتبار تپسی</h2>
            <p class="block__description">
                کاربران، کسب‌وکارها و سازمان‌ها می‌توانند به تعداد و مبلغ مورد نظرشان، کد اعتبار یا کد تخفیف تپسی
                تهیه کرده، برای خود، پرسنل و یا مشتریانشان استفاده کنند و از تخفیف‌های ویژه تپسی نیز بهره‌مند شوند.
                این کدها امکان سفارشی‌سازی بر اساس مبدا، مقصد، زمان، درصد و مبلغ را دارند.
            </p>
            <a href="#" class="btn btn--primary btn--big">خرید کد اعتبار و تخفیف</a>
        </div>
    </div>
</section>