<section class="block drivers-block">
    <div class="grid grid--1x2">
        <div class="drivers-block__content">
            <h2 class="block__heading">مزایای تپسی برای رانندگان تاکسی اینترنتی</h2>
            <p class="block__description">
                رانندگان (سفیران) به‌عنوان همکاران تپسی، جایگاه ویژه‌ای برای شرکت دارند. به همین‌دلیل مزایای مختلفی
                برای آنها در نظر گرفته شده است.
            </p>
            <h3 class="block__subtitle">کسب درآمد روزانه، پایدار و بدون محدودیت</h3>
            <ul class="drivers-block__features-list">
                <li class="drivers-block__feature">
                    ۱. امکان تسویه‌ی اعتبار در هر ساعت از شبانه‌روز
                </li>
                <li class="drivers-block__feature">
                    ۲. طرح‌های تشویقی، ماموریت‌ها‌، پاداش و اعطای وام‌های قرض‌الحسنه به‌طور دوره‌ای
                </li>
                <li class="drivers-block__feature">
                    ۳. نمایش مکان‌های پردرخواست در اپلیکیشن و دریافت سفرهای طلایی
                </li>
            </ul>
            <h3 class="block__subtitle">تضمین امنیت و پشتیبانی رانندگان</h3>
            <ul class="drivers-block__features-list">
                <li class="drivers-block__feature">
                    ۱. پشتیبانی ۲۴ ساعته
                </li>
                <li class="drivers-block__feature">
                    ۲. امکانات امنیت سفر شامل تماس اضطراری با واحد امنیت و پشتیبانی ۲۴ ساعته تیم امنیت
                </li>
            </ul>
            <h3 class="block__subtitle">واریز سهمیه بنزین ویژه رانندگان تپسی</h3>
            <ul class="drivers-block__features-list">
                <li class="drivers-block__feature">
                    ۱. نمایش میزان پیمایش ماهانه درون اپلیکیشن
                </li>
                <li class="drivers-block__feature">
                    ۲. محاسبه‌ی مسافت طی شده تا مسافر در پیمایش
                </li>
            </ul>
            <h3 class="block__subtitle">
                استفاده از مزایای <a class="link" href="#">باشگاه رانندگان تپسی</a>
            </h3>
            <ul class="drivers-block__features-list">
                <li class="drivers-block__feature">
                    ۱. تخفیف روی خدمات خودرو مانند بیمه، سرویس‌های دوره‌ای، خرید لاستیک و ...
                </li>
                <li class="drivers-block__feature">
                    ۲. تخفیف روی خدمات رفاهی مانند وام قرض‌الحسنه، خدمات درمانی، خرید اقساطی و ..
                </li>
            </ul>
            <div class="drivers-block__links-wrapper">
                <a href="#" class="btn btn--secondary btn--big">ثبت نام راننده تاکسی آنلاین </a>
                <a href="#" class="btn btn--secondary btn--big">دانلود برنامه تپسی راننده</a>
            </div>
        </div>
        <div class="drivers-block__image-box">
            <picture>
                <source type="image/webp"
                    srcset="/assets/image/driver_1070w.webp 1070w, /assets/image/driver_535w.webp 535w">
                <source type="image/jpg"
                    srcset="/assets/image/driver_1070w.jpg 1070w, /assets/image/driver_535w.jpg 535w">
                <img class="drivers-block__image" src="/assets/image/driver_1070w.jpg" alt="">
            </picture>
        </div>
    </div>
</section>