<footer class="main-footer">
    <div class="main-footer__container">
        <div class="main-footer__col">
            <a href="/" class="main-footer__logo">
                <img src="/assets/logo/logo-white.svg" alt="logo">
            </a>
            <h3>اپلیکیشن درخواست خودرو و پیک</h3>
            <p class="copyright">
                تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.
            </p>
        </div>
        <div class="main-footer__col">
            <h3 class="col-title">تپسی</h3>
            <ul class="main-footer__links-list">
                <li class="main-footer__nav-link">
                    <a href="#">وبلاگ تپسی</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">فرصت شغلی</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">تماس با ما</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">لوگو و هویت سازمانی</a>
                </li>
            </ul>
        </div>
        <div class="main-footer__col">
            <h3 class="col-title">مسافران</h3>
            <ul class="main-footer__links-list">
                <li class="main-footer__nav-link">
                    <a href="#">دانلود اپ مسافر</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">نسخه وب تپسی</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">پرسش‌های متداول مسافران</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">باشگاه مشتریان</a>
                </li>
            </ul>
        </div>
        <div class="main-footer__col">
            <h3 class="col-title">رانندگان</h3>
            <ul class="main-footer__links-list">
                <li class="main-footer__nav-link">
                    <a href="#">ثبت نام راننده تاکسی اینترنتی</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">دانلود اپ سفیر</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">پرسش‌های متداول سفیران</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">باشگاه سفیران</a>
                </li>
            </ul>
        </div>
        <div class="main-footer__col">
            <h3 class="col-title">کسب و کارها</h3>
            <ul class="main-footer__links-list">
                <li class="main-footer__nav-link">
                    <a href="#">پنل سازمانی تپسی</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">خرید کد اعتبار و تخفیف</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">دریافت API</a>
                </li>
                <li class="main-footer__nav-link">
                    <a href="#">شرایط و قوانین</a>
                </li>
            </ul>
        </div>
    </div>
    <p class="copyright-mobile">
        تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.
    </p>
    <div class="social-media">
        <h3>تپسی در شبکه‌های اجتماعی </h3>
        <div class="social-media__links">
            <a href="#">
                <svg class="icon">
                    <use href="/assets/icon/icon-sprite.svg#facebook"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="icon">
                    <use href="/assets/icon/icon-sprite.svg#instagram"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="icon">
                    <use href="/assets/icon/icon-sprite.svg#twitter"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="icon">
                    <use href="/assets/icon/icon-sprite.svg#linkedin"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="icon">
                    <use href="/assets/icon/icon-sprite.svg#telegram"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>