<section class="hero-block">
    <picture>
        <source type="image/webp" media="(min-width: 768px)" srcset="/assets/image/banner_1440w.webp">
        <source type="image/jpg" media="(min-width: 768px)" srcset="/assets/image/banner_1440w.jpg">
        <source type="image/webp" media="(max-width: 768px)" srcset="/assets/image/banner_mobile_380w.webp">
        <source type="image/jpg" media="(max-width: 768px)" srcset="/assets/image/banner_mobile_380w.jpg">
        <img class="hero-block__banner" src="/assets/image/banner_2880w.jpg" alt="Banner">
    </picture>
    <picture>
        <source type="image/webp" media="(min-width: 1024px)"
            srcset="/assets/image/mockup-phone_1120w.webp, /assets/image/mockup-phone_560w.webp">
        <source type="image/png" media="(min-width: 1024px)"
            srcset="/assets/image/mockup-phone_1120w.png, /assets/image/mockup-phone_560w.png">
        <img class="hero-block__phone" src="/assets/image/mockup-phone_1120w.png" alt="Mobile">
    </picture>
    <div class="hero-block__intro">
        <h1 class="hero-block__title">تپسی</h1>
        <h2 class="hero-block__subtitle">اپلیکیشن درخواست خودرو و پیک</h2>
        <div class="grid grid--1x2">
            <a class="intro-btn" href="#">
                <svg class="icon">
                    <use xlink:href="/assets/icon/icon-sprite.svg#arrow_down"></use>
                </svg>
                <span>دانلود اپلیکیشن مسافران</span>
            </a>
            <a class="intro-btn" href="#">
                <svg class="icon">
                    <use xlink:href="/assets/icon/icon-sprite.svg#pwa"></use>
                </svg>
                <span>وب اپلیکیشن مسافران</span>
            </a>
            <a class="intro-btn intro-btn--outline" href="#">
                <svg class="icon">
                    <use xlink:href="/assets/icon/icon-sprite.svg#arrow_down"></use>
                </svg>
                <span>دانلود اپلیکیشن رانندگان</span>
            </a>
            <a class="intro-btn intro-btn--outline" href="#">
                <svg class="icon">
                    <use xlink:href="/assets/icon/icon-sprite.svg#car"></use>
                </svg>
                <span>ثبت نام راننده</span>
            </a>
        </div>
    </div>
</section>