<section class="parallax-block">
    <div class="parallax-block__wrapper">
        <div class="parallax-block__box">
            <h3 class="parallax-block__box-title">بسته امنیت سفر</h3>
            <p class="parallax-block__box-description">
                امکانات ویژه امنیت سفر، شامل اشتراک سفر و پشتیبانی ۲۴ ساعته تیم متخصصین امنیت تپسی
            </p>
        </div>
        <div class="divider"></div>
        <div class="parallax-block__box">
            <h3 class="parallax-block__box-title">درخواست تلفنی</h3>
            <p class="parallax-block__box-description">
                امکان درخواست خودرو بدون نیاز به اینترنت و اپلیکیشن، از طریق تماس با شماره ۱۶۳۰
            </p>
        </div>
        <div class="divider"></div>
        <div class="parallax-block__box">
            <h3 class="parallax-block__box-title">دسترس‌پذیری برای توان‌یابان</h3>
            <p class="parallax-block__box-description">
                امکان استفاده کاربران نابینا و ناشنوا از اپلیکیشن تپسی و عدم کسر کمیسیون از سفر مسافران ویلچردار
            </p>
        </div>
        <div class="divider"></div>
        <div class="parallax-block__box">
            <h3 class="parallax-block__box-title">امکانات هوشمند</h3>
            <p class="parallax-block__box-description">
                سهولت استفاده از اپلیکیشن با پیشنهاد مبدا و مقصد سفر، مقاصد منتخب و پیشنهادهای ویژه شما
            </p>
        </div>
    </div>
</section>