<section class="block posts-block">
    <h2 class="block__heading">تازه‌ترین‌های وبلاگ تپسی</h2>
    <ul class="grid grid--1x3">
        <li class="post">
            <a class="post__link" href="#">
                <img class="post__image" src="/assets/image/shoghle-dovom_1200w.jpg" alt="شغل دوم">
                <h3 class="post__title">شغل دوم‌هایی که درآمدتان را دگرگون می‌کند!</h3>
                <p class="post__description">
                    گر در گذشته اکثر افراد می‌توانستند با حقوق و مزایای شغل اول خود از پس تمام مخارج و هزینه‌ها
                    بربیایند
                    و حتی مقداری پول را هم برای روز مبادا کنار بگذارند، امروز متاسفانه با توجه به شرایط اقتصادی
                    موجود
                    افراد زیادی نیاز داشتن یک شغل دوم برای افزایش درآمد را احساس می‌کنند. البته درست است که داشتن
                    شغل
                    دوم به شما کمک می‌کند تا فشار مالی کمتری را تجربه کنید اما دنبال کردن علاقه و آرزوهایی که به هر
                    دلیلی آن‌ها را دنبال نکردید نیز می‌تواند از دیگر مزایای انتخاب شغل دوم باشد.
                    با همه این‌‌ها انتخاب شغل چیزی است که هر فرد با توجه به علایق، استعدادها، میزان درآمد لازم و …
                    انتخاب می‌کند و برای هر فرد متفاوت است اما ما در این مقال سعی کردیم شما را با چند مورد از
                    حرفه‌های
                    مناسب برای شغل دوم آشنا کنیم.
                </p>
            </a>
        </li>
        <li class="post">
            <a class="post__link" href="#">
                <img class="post__image" src="/assets/image/focus-scaled_1200w.jpg" alt="تمرکز در رانندگی">
                <h3 class="post__title">کاهش تصادفات و جرایم با ۱۰ تکنیک تمرکز در رانندگی</h3>
                <p class="post__description">
                    بیایید با هم ۱۰ تا از بهترین تکنیک‌های جهانی برای تمرکز در رانندگی را بخوانیم و بدانیم چطور
                    می‌توان متمرکزتر رانندگی کرد. تمرکز در هر کاری، کیفیت نتیجه آن را بالا می‌برد؛ حالا می‌خواهد این
                    کار آشپزی باشد
                </p>
            </a>
        </li>
        <li class="post">
            <a class="post__link" href="#">
                <img class="post__image" src="/assets/image/book-garden-1200w.jpg" alt="شغل دوم">
                <h3 class="post__title">باغ کتاب تهران مقصد اصلی کتاب بازها!</h3>
                <p class="post__description">
                    اگر شما هم عاشق کتاب باشید و دلتان بخواهد غرق دنیای زیبای داستان‌ها شوید، قطعا مراجعه به
                    کتاب‌فروشی برایتان لذت‌بخش است. حالا تصور کنید که به جای یک کتاب فروشی معمولی به باغی از کتاب
                    بروید. پس بیایید کمی بیشتر با کنار گوشه‌های باغ کتاب تهران آشنا شویم.
                </p>
            </a>
        </li>
    </ul>
</section>