<section class="services-block">
    <h2 class="services-block__title">سرویس‌های تپسی</h2>
    <ul class="services-block__tabs">
        <li class="services-block__tab service-tab active" data-service="#tapsi-classic">
            <img src="/assets/image/cc-classic.png" alt="Tapsi Classic">
        </li>
        <li class="services-block__tab service-tab" data-service="#motopeyk">
            <img src="/assets/image/cc-motopeyk.png" alt="MotoPeyk">
        </li>
        <li class="services-block__tab service-tab" data-service="#autopeyk">
            <img src="/assets/image/cc-autopeyk.png" alt="Autopeyk">
        </li>
        <li class="services-block__tab service-tab" data-service="#tapsi-plus">
            <img src="/assets/image/cc-plus.png" alt="Tapsi Plus">
        </li>
        <li class="services-block__tab service-tab" data-service="#tapsi-telephone">
            <img src="/assets/image/cc-tel.png" alt="Tapsi Telephone">
        </li>
        <li class="services-block__tab service-tab" data-service="#hamyar">
            <img src="/assets/image/cc-hamyar.png" alt="Hamyar">
        </li>
        <li class="services-block__tab service-tab" data-service="#hamkhat">
            <img src="/assets/image/cc-hamkhat.png" alt="Hamkhat">
        </li>
        <li class="services-block__tab service-tab" data-service="#taxi">
            <img src="/assets/image/cc-taxi.png" alt="Taxi">
        </li>
        <li class="services-block__tab service-tab" data-service="#tapsi-line">
            <img src="/assets/image/cc-line.png" alt="Tapsi Line">
        </li>
    </ul>
    <ul class="services-block__list">
        <li id="tapsi-classic" class="service active">
            <div class="service__info">
                <h3 class="service__name">تپسی کلاسیک</h3>
                <p class="service__description">
                    با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان دارید. تپسی کلاسیک، راهی سریع و
                    آسان برای سفرهای درون‌شهری در هر ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد
                    و همچنین توقف در مسیر را دارید.
                </p>
            </div>
            <div class="service__image-box">
                <picture>
                    <source type="image/webp" media="(min-width: 768px)" srcset="/assets/image/illus-classic.webp">
                    <source type="image/png" media="(min-width: 768px)" srcset="/assets/image/illus-classic.png">
                    <img class="service__image" src="/assets/image/illus-classic.png" alt="Classic">
                </picture>
            </div>
        </li>
        <li id="motopeyk" class="service">
            <div class="service__info">
                <h3 class="service__name">موتوپیک</h3>
                <p class="service__description">
                    با استفاده از سرویس موتوپیک، بسته‌ها و مرسولاتتان با پیک موتور به مقصد ارسال می‌شوند. این سرویس
                    مناسب زمانی است که می‌خواهید مرسوله سریع‌تر به مقصد برسد. در این سرویس، شما می‌توانید مسیر رسیدن
                    مرسوله‌تان به مقصد را به صورت لحظه‌ای روی نقشه دنبال کنید.
                </p>
            </div>
            <div class="service__image-box">
                <picture>
                    <source type="image/webp" media="(min-width: 768px)" srcset="/assets/image/illus-motopeyk.webp">
                    <source type="image/png" media="(min-width: 768px)" srcset="/assets/image/illus-motopeyk.png">
                    <img class="service__image" src="/assets/image/illus-motopeyk.png" alt="Motopeyk">
                </picture>
            </div>
        </li>
        <li id="autopeyk" class="service">
            <div class="service__info">
                <h3 class="service__name">اتوپیک</h3>
                <p class="service__description">
                    اتوپیک سرویسی برای ارسال بسته‌های شما با خودرو است. این سرویس، برای زمانی مناسب است که بسته‌های
                    شما، با موتور قابل ارسال نیستند و یا در حین جابجایی، نیاز به مراقبت بیشتری دارند. در این سرویس
                    نیز امکان رصد لحظه ‌به لحظه موقعیت مکانی مرسوله تا زمان رسیدن به مقصد فراهم است.
                </p>
            </div>
            <div class="service__image-box">
                <picture>
                    <source type="image/webp" media="(min-width: 768px)" srcset="/assets/image/illus-autopeyk.webp">
                    <source type="image/png" media="(min-width: 768px)" srcset="/assets/image/illus-autopeyk.png">
                    <img class="service__image" src="/assets/image/illus-autopeyk.png" alt="Autopeyk">
                </picture>
            </div>
        </li>
        <li id="tapsi-plus" class="service">
            <div class="service__info">
                <h3 class="service__name">تپسی پلاس</h3>
                <p class="service__description">
                    در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر و عمر کمتر، به دنبال شما خواهد آمد.
                    همچنین، رانندگان این سرویس بالاترین امتیاز را از مسافران دریافت کرده‌اند. در این سرویس که در حال
                    حاضر در تهران فعال است، امکان تعیین چند مقصد یا توقف در حین سفر، وجود دارد.
                </p>
            </div>
            <div class="service__image-box">
                <picture>
                    <source type="image/webp" media="(min-width: 768px)" srcset="/assets/image/illus-plus.webp">
                    <source type="image/png" media="(min-width: 768px)" srcset="/assets/image/illus-plus.png">
                    <img class="service__image" src="/assets/image/illus-plus.png" alt="Tapsi Plus">
                </picture>
            </div>
        </li>
        <li id="tapsi-telephone" class="service">
            <div class="service__info">
                <h3 class="service__name">تپسی تلفنی</h3>
                <p class="service__description">
                    سرویس تپسی تلفنی یا ۱۶۳۰، این امکان را به شما می‌دهد که بدون نیاز به اینترنت و اپلیکیشن، درخواست
                    خودرو بدهید. این سرویس تاکسی تلفنی مناسب زمانی است که به هر دلیلی دسترسی به اینترنت یا اپلیکیشن
                    ندارید. همچنین سرویس تلفنی تپسی، راه حلی مناسب برای افرادی است که کار کردن با اپلیکیشن‌های
                    موبایلی برایشان راحت نیست.
                </p>
            </div>
            <div class="service__image-box">
                <picture>
                    <source type="image/webp" media="(min-width: 768px)" srcset="/assets/image/illus-tel.webp">
                    <source type="image/png" media="(min-width: 768px)" srcset="/assets/image/illus-tel.png">
                    <img class="service__image" src="/assets/image/illus-tel.png" alt="Tapsi Telephone">
                </picture>
            </div>
        </li>
        <li id="hamyar" class="service">
            <div class="service__info">
                <h3 class="service__name">همیار</h3>
                <p class="service__description">
                    سرویس همیار تپسی، به جای شما خرید می‌کند. کافیست فروشگاه مورد نظر خود را به عنوان مبدا مشخص کرده
                    و لیست خریدتان را داخل اپ وارد کنید. این خرید‌ها می‌تواند از سوپرمارکت یا داروخانه مورد نظر شما
                    باشند.
                </p>
            </div>
            <div class="service__image-box">
                <picture>
                    <source type="image/webp" media="(min-width: 768px)" srcset="/assets/image/illus-hamyar.webp">
                    <source type="image/png" media="(min-width: 768px)" srcset="/assets/image/illus-hamyar.png">
                    <img class="service__image" src="/assets/image/illus-hamyar.png" alt="Hamyar">
                </picture>
            </div>
        </li>
        <li id="hamkhat" class="service">
            <div class="service__info">
                <h3 class="service__name">هم‌خط</h3>
                <p class="service__description">
                    سرویس هم‌خط تپسی شما را با مینی‌بوس‌ به مقصد می‌رساند. با استفاده از سرویس هم‌خط بعد از انتخاب
                    مسیر سفر، بلیت‌تان را خریداری کنید و سریع‌تر و راحت‌تر به مقصد برسید. این سرویس خطی بسیار
                    ارزان‌تر از دیگر سرویس‌های تپسی است و شما را سریع‌تر و راحت‌تر از حمل‌ونقل عمومی به مقصدتان
                    می‌رساند. شما می‌توانید از قبل بلیت هم خط را رزرو کنید و با رعایت فاصله اجتماعی به مقصد برسید.
                    سرویس مینی بوس آنلاین فعلا فقط در تهران فعال است.
                </p>
            </div>
            <div class="service__image-box">
                <picture>
                    <source type="image/webp" media="(min-width: 768px)" srcset="/assets/image/illus-hamkhat.webp">
                    <source type="image/png" media="(min-width: 768px)" srcset="/assets/image/illus-hamkhat.png">
                    <img class="service__image" src="/assets/image/illus-hamkhat.png" alt="Hamkhat">
                </picture>
            </div>
        </li>
        <li id="taxi" class="service">
            <div class="service__info">
                <h3 class="service__name">تپسی تاکسی</h3>
                <p class="service__description">
                    در سرویس تاکسی تپسی، تاکسی‌های زرد یا سبز شما را به مقصدتان می‌رسانند. این سرویس در حال حاضر در
                    تهران فعال است و چنانچه به دلایلی مانند ورود به محدوده طرح ترافیک یا طرح آلودگی هوا، ترجیح بدهید
                    از تاکسی برای رفت‌وآمدتان استفاده کنید، گزینه مناسبی خواهد بود.
                </p>
            </div>
            <div class="service__image-box">
                <picture>
                    <source type="image/webp" media="(min-width: 768px)" srcset="/assets/image/illus-taxi.webp">
                    <source type="image/png" media="(min-width: 768px)" srcset="/assets/image/illus-taxi.png">
                    <img class="service__image" src="/assets/image/illus-taxi.png" alt="Taxi">
                </picture>
            </div>
        </li>
        <li id="tapsi-line" class="service">
            <div class="service__info">
                <h3 class="service__name">تپسی لاین</h3>
                <p class="service__description">
                    تپسی لاین سرویسی است که امکان سفر اشتراکی را برایتان فراهم می‌کند. در این سرویس شما با مسافر
                    دیگری که هم‌مسیرتان است، هم‌سفر خواهید بود و هزینه سفرتان تقسیم می‌شود. این سرویس در حال حاضر به
                    دلیل شرایط همه‌گیری بیماری کرونا از دسترس خارج شده اما با بهبود شرایط می‌توانید از سرویس لاین
                    استفاده کنید.
                </p>
            </div>
            <div class="service__image-box">
                <picture>
                    <source type="image/webp" media="(min-width: 768px)" srcset="/assets/image/illus-line.webp">
                    <source type="image/png" media="(min-width: 768px)" srcset="/assets/image/illus-line.png">
                    <img class="service__image" src="/assets/image/illus-line.png" alt="Tapsi Line">
                </picture>
            </div>
        </li>
    </ul>
</section>